//VENDOR STYLING
@import "settings/fonts";
@import "settings/colors";
@import "foundation";
@import "settings/settings";
@include foundation-everything(false, false);

$hamburgers-padding-x: 20px;
$hamburgers-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-color: $color-white;
$hamburger-types     : (squeeze);

@import "hamburgers";

@import "settings/colors";
@import "settings/fonts";
@import "settings/app";
@import "settings/mixins";
@import "settings/settings";

@import "base";
@import "components/all";
