<section class="body">
    <div class="row">
        <div class="small-24 large-18 xlarge-12 column large-centered">
            <div class="body__text">
                {{ page.header.cesis.content|markdown }}
            </div>
        </div>
    </div>
</section>