<section class="hero text-center" style="background-image: url('{{ page.media[header.cesis.backgroundImage|first.name].cropResize(1920, 10000).url }}')">
    <div class="hero__content">
        <div class="row">
            <div class="small-24 large-centered column">
                <hgroup>
                    <h1 class="hero__title">{{ page.header.cesis.headerTitle }}</h1>
                    <h2 class="hero__subTitle large-16 large-centered">{{ page.header.cesis.headerSubTitle }}</h2>
                </hgroup>
                <a class="hero__button button" href="#taxationForm" title="Vul uw taxatie in">Vraag direct een taxatie aan.</a>

            </div>
        </div>
    </div>
</section>