<section class="large-intro">
    <div class="row">
        <div class="small-24 large-18 xlarge-12 column large-centered text-center">
            <h2 class="large-intro__title">{{ page.header.cesis.introTitle }}</h2>
            <p class="large-intro__text">{{ page.header.cesis.introText }}</p>
        </div>
    </div>
</section>