.formSection {
  background-color: $color-light-bg;

  &__title {
    color: $color-text-black;

    &::after {
      margin-left: 0;
    }
  }

  &__text {
    color: rgba($color-black, .7);
  }

  &__form {
    margin-top: rem-calc(32);

    @media only screen and (min-width: map_get($breakpoints, medium)) {
      margin-top: 0;
    }
  }

  .inline {
    display: none;
  }

  .button {
    margin: rem-calc(12) 0;
  }
}
