[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
textarea {

  &, &:focus {
    background-color: $color-white;
    color: $color-dark-bg;
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding: rem-calc(30) rem-calc(20);
    box-shadow: none;
    font-size: rem-calc(14);
    font-weight: 100;

    @include placeholder-color(rgba($color-black, .7));
  }

  &:focus {
    border: 1px solid $color-red;
  }
}

.notices.notices {
  padding: 12px 30px;
  text-align: left;

  p {
    margin: 0;
  }
}

form {

  .button {
    border-radius: 4px;
  }
}