.large-intro {
  padding: rem-calc(92) 0;

  &--grey-bg {
    background-color: $color-light-bg;
  }

  &__title {
    position: relative;

    &::after {
      content: "";
      width: rem-calc(200);
      margin: rem-calc(32) auto;
      display: block;
      height: rem-calc(2);
      background-color: $color-red;
    }
  }
}
