@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Open+Sans+Condensed:700');

$font-header: 'Open Sans Condensed', sans-serif;
$font-subheader: 'Montserrat', sans-serif;

$font-body: 'Open Sans', sans-serif;