$header-height: rem-calc(84);

.header {
  height: $header-height;
  background-color: $color-dark-bg;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__logo {
    height: $header-height;
    line-height: $header-height;
    white-space: nowrap;
    color: $color-white;
    padding: 0 rem-calc(32);
    background-color: $color-red;
    display: inline-block;
    float: left;
    font-family: $font-header;
    font-size: rem-calc(24);
    transition: background-color .3s ease-in-out;

    &:hover, &:focus {
      background-color: darken($color-red, 10%);
      color: $color-white;
    }
  }

  &__hamburger {
    padding: 0;
    margin-right: rem-calc(30);
    margin-top: rem-calc(30);

    &:hover, &:focus {
      outline: none;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100vh;
    font-family: $font-subheader;
    text-transform: uppercase;
    color: $color-white;
    padding-top: rem-calc(84);
    margin-left: 100%;

    @media only screen and (min-width: map_get($breakpoints, large)) {
      display: inline-block;
      float: left;
      font-size: rem-calc(13);
      position: relative;
      min-height: 0;
      padding-top: 0;
      margin-left: 0;
      background-color: rgba(0, 0, 0, .8);
    }
  }

  &__navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    text-align: center;

    @media only screen and (min-width: map_get($breakpoints, large)) {
      float: left;
      text-align: left;
    }
  }

  &__link {
    border-right: 1px solid #404547;
    display: block;
    height: $header-height;
    line-height: $header-height;
    color: $color-white;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    font-weight: 700;

    &:hover, &:focus {
      color: $color-red;
    }

    @media only screen and (min-width: map_get($breakpoints, large)) {
      padding: 0 rem-calc(20);
      font-size: rem-calc(10);
      font-weight: 400;

      &:hover, &:focus {
        background-color: rgba($color-black, .5);
        color: $color-white;
      }
    }
    @media only screen and (min-width: map_get($breakpoints, xlarge)) {
      padding: 0 rem-calc(32);
      font-size: rem-calc(14);
    }
  }
}
