$header-height: rem-calc(84);

.header {
  height: $header-height;
  background-color: $color-dark-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__logo {
    height: $header-height;
    line-height: rem-calc(84);
    white-space: nowrap;
    color: $color-white;
    padding: 0 rem-calc(32);
    background-color: $color-red;
    display: inline-block;
    float: left;
    font-family: $font-header;
    font-size: rem-calc(24);
  }

  &__nav {
    display: inline-block;
    float: left;
    font-family: $font-subheader;
    text-transform: uppercase;
    color: $color-white;
    font-size: rem-calc(13);
  }

  &__navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    float: left;
  }

  &__link {
    border-right: 1px solid #404547;
    display: block;
    height: $header-height;
    line-height: $header-height;
    color: $color-white;
    transition: background-color .2s ease-in-out;

    @media only screen and (min-width: map_get($breakpoints, large)) {
      padding: 0 rem-calc(20);
      font-size: 10px;
    }
    @media only screen and (min-width: map_get($breakpoints, xlarge)) {
      padding: 0 rem-calc(32);
    }

    &:hover {
      background-color: rgba($color-black, .5);
      color: $color-white;
    }
  }
}
